<h2>Tipps von <%= @gamer.user.nickname %></h2>
<table>
  <thead>
  <th colspan="7">Spiel</th>
  <th>Aktion</th>
  </thead>
  <% @tipps.each do |tipp| %>
      <% if @gamer.user == current_user %>
          <%= render :partial => 'tipps', :locals => { :tipp => tipp} %>
      <% elsif (tipp.game.started? or tipp.game.finished?) && @gamer.user != current_user %>
          <%= render :partial => 'tipps', :locals => { :tipp => tipp} %>
      <% end %>
  <% end %>
</table>
<p><%= link_to "Zur&uuml;ck", hall_of_fame_index_url %></p>
