<h2>Hall of Fame</h2>
<%= render :partial => "shared/gamer_search" %>
<h3 style="padding-top: 60px;">Die Top 10</h3>
<table>
  <thead>
   <th>Platz</th>
   <th>Nickname</th>
   <th>Punktzahl</th>
  </thead>
  <% count = 0
     @gamers.each do |gamer| %>
      <tr>
        <td align="right"><%= count += 1 %>.</td>
        <td><%= link_to gamer.user.nickname, gamer_tipps_url(gamer) %></td>
        <td align="right"><%= h gamer.points %></td>
      </tr>
  <% end %>
</table>