/*-----------------------------------------------------------------------------
3DFlags Stylesheet

author:		3DFlags, LLC
website:	http://www.3dflags.com/
notice:		Copyright 2008 3DFlags, LLC.  All rights reserved.
-----------------------------------------------------------------------------*/


/* =Category List
-----------------------------------------------------------------------------*/
#categoryList {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 2em;
}

#categoryList .category {
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
}

#categoryList img {
	vertical-align: middle;
}

hr {
	border: 0;
	color: #d1d5db;
	background-color: #d1d5db;
	height: 2px;
	margin: 10px 0;
}

/* =Entity List
-----------------------------------------------------------------------------*/

.objectList {
	width: 100%;
	margin: -8px 0 0 0;
}

.objectList td {
	text-align: center;
	vertical-align: top;
	padding: 32px 0 32px 0;
}

.objectList a {
	text-decoration: none;
}

.objectList a:hover {
	text-decoration: underline;
}

.objectList .entity {
	/*	margin: 0 0 60px 0; */
}
	

/* =Category List
-----------------------------------------------------------------------------*/
#categoryList a {
	text-decoration: none;
}

#categoryList a:hover {
	text-decoration: underline;
}