<h2>Spiel bearbeiten</h2>
<% if @game.pending? %>
    <%= link_to "Spiel starten", game_start_url(@game), :method => :put %>
<% end %>
<% if @game.started? %>
    <%= link_to "Spiel beenden", game_finish_url(@game), :method => :put %>
    <%= render :partial => 'form' %>
<% elsif @game.finished? %>
    Spiel ist beendet
    <%= render :partial => 'form' %>
<% elsif TippsHelper.tipp_stop?(@game) %>
    Es kann nicht mehr getippt werden.
<% end %>
