<h2>&Uuml;bersicht der Spiele</h2>
<h3>Vorrundenspiele</h3>
<% @groups.each do |group| %>
    <% count = 0 %>
    <h4>Gruppe <%= h group.name %></h4>
    <table id="pregroups">
      <% group.games.each do |game| %>
      <%= render :partial => 'row', :locals => {:game => game} %>
      <% end %>
    </table>
<% end %>
<h3>Finalrunden</h3>
<% @rounds.each do |round| %>
    <h4><%= h round.name %></h4>
    <table id="finalrounds">
      <% round.games.each do |game| %>
          <%= render :partial => 'row', :locals => {:game => game} %>
    <% end %>
    </table>
<% end %>
