@import url("admin.css");
/*-----------------------------------------------------------------------------
3DFlags Stylesheet

author:		3DFlags, LLC
website:	http://www.3dflags.com/
notice:		Copyright 2008 3DFlags, LLC.  All rights reserved.
-----------------------------------------------------------------------------*/

/* =Test Code
-----------------------------------------------------------------------------*/
#widthTest {
	background: #9f9;
	width: 224px;
	height: 2px;
}


/* =General
-----------------------------------------------------------------------------*/

/* Remove padding and margin */
* {
	margin: 0;
	padding: 0;
}

/* Put it back on certain elements */
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table, ul {
	margin: .5em 0; 
}

/* Class for clearing floats */
.clear {
	clear:both;
}


/* Remove border around linked images */
img {
	border: 0;
}

ul {
	margin: 1em 0 0 4.0em;
}



/* =Typography
-----------------------------------------------------------------------------*/

body {
/*	text-align: center; */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .75em;
	color: #303030; /* #595959; */
	background: #fff;
}

a:link, a:visited, a:active {
	color:#0000dd;
}

a:hover {
	color:#0000ff;
}

a:active {
	outline: none;
}

a:focus {
	outline-style: none;
}

/* =Headings
-----------------------------------------------------------------------------*/
p, ul {
	line-height: 140%;
}

h1 {
	font-size: 2.1em;
	letter-spacing: 1px;
	text-align: center;
	color: #891723;
}

h2 {
	font-size: 1.2em;
	padding: 10px;
	margin: 2.8em 0 .7em 0;
	color: #000;
	background: #eaeff6;
	border: 1px solid #c1cad9;
	margin-right: 0;
}


h3 {
	font-weight: bold;
	margin: 1.2em 0 .6em 0;
	text-transform: uppercase;
	color: #56567d;
}

h4 {
	font-size: 1.1em;
	font-weight: bold;
	color: #484848;
}

h5 {
	font-size: 1em;
	margin-top: 1em;
	font-weight: normal;
	color: #4e5e97;
}

h6 {
	font-size: .9em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #4e5e97;
}

/* =Page Structure
-----------------------------------------------------------------------------*/
#wrapper {
	margin-left: auto;
	margin-right: auto;
	/* padding: 1px 15px 10px 15px; */
	width: 875px;
	text-align: left;
	background: #fff;
}
	
#header {

}
	
#content {

}

#mainContent {
	width: 690px;
	float: left;
}

#secondaryContent {
	width: 160px;
	float: right;
}

#footer {
	clear: both;
	width: 100%;
	padding: 25px 0 0 0;
}


/* =Links
-----------------------------------------------------------------------------*/


/* =Branding
-----------------------------------------------------------------------------*/


/* =Main Navigation
-----------------------------------------------------------------------------*/
#mainNavigation {
	width: 100%;
	margin: 15px 0 20px 0;
	border: 1px solid #72777f;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 1.2em;
	letter-spacing: 1px;
}

#mainNavigation td {
	text-align: center;
	background: #bec8d8 url("/images/main_navigation_background.gif") repeat-x;
	border-left: 1px solid #a4abb7;
}

#mainNavigation td a {
	line-height: 2.4;
	width: 100%;
	color: #323333;
	text-decoration: none;
	display: block;
	font-weight: bold;
}

#mainNavigation .selected a {
	color: #fff;
}

#mainNavigation td.first {
	border-left: none;
}

#mainNavigation td.selected {
	background: #586889 url("/images/main_navigation_background_selected.gif") repeat-x;
}

#mainNavigation td a:hover {
	color: #000;
	background: #9cb2d2 url("/images/main_navigation_background_hover.gif") repeat-x;
}

#mainNavigation td.selected a:hover {
	color: #fff;
	background: #586889 url("/images/main_navigation_background_selected.gif") repeat-x;
}

#mainNavigation td.first a:hover {
	background: none;
}
	
#mainNavigation img.logo {
	vertical-align: middle;
	padding-bottom: 1px;
}
	

/* =Sub Nav
-----------------------------------------------------------------------------*/


/* =Main Content
-----------------------------------------------------------------------------*/
#notice, #error {
	padding: 8px 10px 5px 10px;
	margin-bottom: 2em;
	background-color: #fff6e1;
	border: 1px solid #891723;
	color: #000;
}

#notice h4, #error h4 {
	color: #891723;
	margin-top: 0px;
	padding-bottom: 0;
}


/* =Secondary Content
-----------------------------------------------------------------------------*/


/* =Footer
-----------------------------------------------------------------------------*/
#ancillaryNavigation {
	width: 100%;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	font-size: .9em;
}

#ancillaryNavigation table {
	margin: 8px auto 8px auto;
}

#ancillaryNavigation a {
	padding: 0 2em;
	text-decoration: none;
	border-left: 1px solid #dbdbdb;
	color: #304c70;
}

#ancillaryNavigation .first a {
	border-left: none;
}

#ancillaryNavigation a:hover {
	text-decoration: underline;
}

#copyright {
	margin: 10px 0 5px 0;
	text-align: center;
	font-size: .9em;
	color: #5c5c5c;
}


/* =Forms
-----------------------------------------------------------------------------*/
/* Removes fieldset borders. even on Opea 7 */
fieldset {
  border: 1px solid transparent;
}


/* =Tables
-----------------------------------------------------------------------------*/
table { 
	border-spacing: 0;
	border-collapse: collapse;
}

td {
  	text-align: left;
	font-weight: normal;
}

tr.odd {

}

tr.even {
	background-color: #f0f3f6;
}

th {
	background: #eaeff6;
	padding: 10px;
}


/* =Segment Navigation
-----------------------------------------------------------------------------*/
#segmentNavigation {
	width: 100%;
	margin: 0 0 .3em 0;
	border: 1px solid #c1cad9;
	font-size: 1.1em;
}

#segmentNavigation td {
	text-align: center;
}

#segmentNavigation a {
	background: #eaeef6;
	text-decoration: none;
	color: #00e;
	width: 100%;
	display: block;
	padding: 4px 0;
}

#segmentNavigation a:hover {
	background: #cfe0f1;
}
	
#segmentNavigation .selected {
/*	background: #969696; */
	border-top: 1px solid #878787;
	border-bottom: 1px solid #878787;
}

#segmentNavigation .last.selected {
	border-right: 1px solid #878787;
}

#segmentNavigation .first.selected {
	border-left: 1px solid #878787;
}
	
#segmentNavigation .selected a {
	background: #5f6f8f;
	color: #fff;
}
	
#segmentNavigation .selected a:hover {
	background: #969696;
}


/* =Misc 1
-----------------------------------------------------------------------------*/
.hidden {
	background: #f6efd4;
  	opacity: 0.6;
}

#header	.checkout {
	margin: 31px 0;
	text-align: center;
}