<h2>Impressum</h2>

<h3>Betreiber der Seite tipptop.net:</h3>
<p>
Michael Johann<br/>
Papeneschstr. 27a<br/>
48565 Steinfurt<br/>

Telefon: +49 (0) 2552 - 997997<br/>
Telefax: +49 (0) 22552 - 997996<br/>
E-Mail: admin@tipptop.net<br/>
</p>