<h2>Willkommen bei TippTop</h2>
<p>Die Weltmeisterschaft 2010 steht vor der T&uuml;r und auch wenn noch keine Gruppen ausgelost wurden, so k&ouml;nnen Sie hier bereits ein Benutzerkonto
anlegen, um rechtzeitig Tippk&ouml;nig oder Tippk&ouml;nigin zu werden.</p>
<p>Es gibt zwar nichts zu gewinnen, aber wer dem m&ouml;glichen Ruhm nicht entgehen will, sollte sich
<%= link_to "hier", signup_url %> registrieren.</p>