<h2>Spielregeln</h2>

<h3>Punktesystem</h3>
<ul>
    <li>Ergebnis und Tendenz richtig: <strong>5 Punkte</strong></li>
    <li>Tendenz und Torverhältnis richtig: <strong>4 Punkte</strong></li>
    <li>Tendenz richtig: <strong>3 Punkte</strong></li>
    <li>Falsch getippt: <strong>0 Punkte</strong></li>
</ul>
<h3>Die Wertungen</h3>

<h3>Hinweise zum Zeitpunkt der Tippauswertung</h3>

<p>Die technische Auswertung der Spieltipps erfolgt in der Regel nach jedem absolvierten Spiel.</p>

<h2 style="margin-top:20px">Haftungsausschluss</h2>

<p>F&uuml;r etwaige &Uuml;bertragungsfehler und sonstige technische Schwierigkeiten ist der Veranstalter in
    keiner Weise verantwortlich zu machen.
</p>

<p>Mit der Anmeldung zum Spiel akzeptieren Sie diese Bedingungen. Dieses Spiel dient dem reinen
    Unterhaltungszweck. Wer hackt, verf&auml;lscht, oder sich mehrmals unter verschiedenen Namen anmeldet, wird
    mit einer Spielsperre belegt.
</p>

<p><strong>Der Rechtsweg ist ausgeschlossen.</strong></p>
