<h1>Spielwertung und Ligawertung</h1>

<h2>Punktverteilung</h2>
<ul>
    <li>Ergebnis richtig: <strong>3 Punkte</strong></li>
    <li>nur Tendenz und Tordifferenz richtig: <strong>2 Punkte</strong></li>
    <li>nur Tendenz richtig: <strong>1 Punkte</strong></li>

    <li>nur eine Toranzahl richtig: <strong>0 Punkte</strong></li>
    <li>Jokermultiplikator: <strong>3</strong></li>
</ul>
<h2>Die Liga- und Spieltagswertung</h2>

<p>Die Gesamtligawertung erh&auml;ltst Du, wenn Du in der <a
        href="http://www.buli-tippspiel.de/bundesliga-tippspiel.html"
        rel="nofollow">Tippspiel-&Uuml;bersicht</a> eine abonnierte Liga unter dem Punkt: <strong>Ranglisten
    anzeigen</strong> ausw&auml;hlst.
</p>

<p>Du erreichst die Gesamtligawertung auch, wenn Du im Tippbereich auf <strong>Ligawertung</strong> wechselst
</p>

<p>Die erzielten Punkte Deiner <strong>einzelnen</strong> Spiele kannst Du einsehen, wenn Du im Tippbereich
    einer Liga einen <strong>absolvierten Spieltag</strong> aufrufst.
</p>

<p><strong>Gesamtsieger</strong> ist, wer nach einer Spielsaison die meisten Punkte auf seinem Spielkonto
    verbuchen kann.
</p>

<p>Zus&auml;tzlich k&ouml;nnen unter <strong>Tippeinsicht</strong> die Tipps der Mitspieler eingesehen werden.
</p>

<p>Haben mehrere Tipper den gleichen Punktestand, entscheidet zuerst der erzielte Punkteschnitt und dann die
    Anzahl der richtig getippten Ergebnisse.
</p>

<p>Die <strong>Tipp-Tabelle</strong> ist eine Zusatzfunktion, mit der du errechnen kannst, wie die jeweilige
    Bundesligatabelle auf Basis Deiner oder der abgegebenen Tipps aller Mitspieler aussehen würde.
</p>

<p></p>

<h3>Hinweise zum Zeitpunkt der Tippauswertung</h3>

<p>Die technische Auswertung der Spieltipps erfolgt in der Regel nach jedem absolvierten Spieltag.</p>

<p>Bitte beachte, daß sich aus organisatorischen Gr&uuml;nden die Tippauswertung auch einmal um <strong>1 bis 2
    Tage</strong> verz&ouml;gern kann.
</p>

<h2 style="margin-top:20px">Haftungsausschlu&szlig;</h2>

<p>F&uuml;r etwaige &Uuml;bertragungsfehler und sonstige technische Schwierigkeiten ist der Veranstalter in
    keiner Weise verantwortlich zu machen.
</p>

<p>Mit der Anmeldung zum Spiel akzeptierst Du die Bedingungen. Dieses Spiel dient dem reinen
    Unterhaltungszweck. Wer hackt, verf&auml;lscht, oder sich mehrmals unter verschiedenen Namen anmeldet, wird
    mit einer Spielsperre belegt.
</p>

<p><strong>Der Rechtsweg ist ausgeschlossen.</strong></p>
